.contact {
    background-image: url('../assets/Large-Triangles.svg');
    background-size: cover;
    background-position: center;

    &__container {
        display: flex;
        justify-content: space-between;

        @include breakpoint-down(small) {
            flex-direction: column;
        }
    }

    h2 {
        display: inline-block;
        margin-bottom: 4rem;
        padding: 0 1.6rem 0.4rem 1.6rem;
        position: relative;

        &::before {
            background: $darkLightPrimaryGrad;
            content: '';
            display: block;
            position: absolute;
            height: 4px;
            width: 112%;
            left: 50%;
            transform: translate(-50%, 0);
            bottom: -1rem;
            border-radius: 2rem;
            -webkit-border-radius: 2rem;
            -moz-border-radius: 2rem;
            -ms-border-radius: 2rem;
            -o-border-radius: 2rem;
            -webkit-transform: translate(-50%, 0);
            -moz-transform: translate(-50%, 0);
            -ms-transform: translate(-50%, 0);
            -o-transform: translate(-50%, 0);
        }

        @include breakpoint-down(medium) {
            margin-bottom: 2rem;
        }
    }

    &__info {
        margin-top: 4rem;
        flex: 0 0 50%;

        p {
            margin: 2rem 0;
            font-size: $font-med2;
            color: $darkerGrey;
            letter-spacing: 1.2px;
            line-height: 1.66;

            @include breakpoint-down(large) {
                margin-bottom: 2rem;
            }
            @include breakpoint-down(medium) {
                font-size: $font-med;
            }
        }

        h5 {
            color: $darkerGrey;
            letter-spacing: 1.4px;

            span {
                color: $primary;
            }
        }

        @include breakpoint-down(large) {
            margin-top: 0rem;
        }
    }
    &__img {
        background-image: url('../assets/undraw_emails_6uqr.svg');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        height: 37.4rem;
        width: 100%;

        @include breakpoint-down(large) {
            height: 33.6rem;
        }
        @include breakpoint-down(small) {
            height: 22rem;
        }
    }
}
