.header {
    position: fixed;
    background-color: $white;
    z-index: 1;
    width: 100vw;
    height: 6vh;

    .overlay {
        opacity: 0;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: rgba($grey, 0.72);
    }

    @include breakpoint-down(small) {
        height: 8vh;
    }

    &-shadow {
        box-shadow: 0 4px 4px -2px $darkGrey;
    }

    nav {
        height: 100%;
    }

    &__logo {
        color: $lightPrimary;
        font-size: $font-med;
    }

    &__links {
        a {
            color: $primary;
            font-size: $font-med;
            position: relative;
            transition: $short-transition;
            -webkit-transition: $short-transition;
            -moz-transition: $short-transition;
            -ms-transition: $short-transition;
            -o-transition: $short-transition;

            &:not(:last-child) {
                margin-right: 4.8rem;
            }

            &:hover {
                color: $darkPrimary;

                &::before {
                    opacity: 1;
                }
            }

            &::before {
                background: $darkLightPrimaryGrad;
                content: '';
                display: block;
                position: absolute;
                opacity: 0;
                height: 4px;
                width: 132%;
                left: 50%;
                transform: translate(-50%, 0);
                bottom: -1.2rem;
                border-radius: 2rem;
                -webkit-border-radius: 2rem;
                -moz-border-radius: 2rem;
                -ms-border-radius: 2rem;
                -o-border-radius: 2rem;
                -webkit-transform: translate(-50%, 0);
                -moz-transform: translate(-50%, 0);
                -ms-transform: translate(-50%, 0);
                -o-transform: translate(-50%, 0);
                transition: $short-transition;
                -webkit-transition: $short-transition;
                -moz-transition: $short-transition;
                -ms-transition: $short-transition;
                -o-transition: $short-transition;
            }
        }
    }

    &.open {
        .header__toggle {
            > span:first-child {
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                -o-transform: rotate(45deg);
            }
            > span:nth-child(2) {
                opacity: 0;
            }
            > span:last-child {
                transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
            }
        }
    }

    &__toggle {
        > span {
            display: block;
            width: 26px;
            height: 2px;
            background-color: $lightPrimary;
            transition: all 300ms ease-in-out;
            -webkit-transition: all 300ms ease-in-out;
            -moz-transition: all 300ms ease-in-out;
            -ms-transition: all 300ms ease-in-out;
            -o-transition: all 300ms ease-in-out;
            transform-origin: 3px 1px;

            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }
    }

    &__menu {
        position: absolute;
        width: calc(100% - 4.8rem);
        left: 50%;
        background: $lightPrimary;
        padding: 2.6rem;
        margin-top: 6rem;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);

        a {
            display: block;
            color: $white;
            padding: 1rem;
            text-align: center;
        }
    }
}
